name: "Create Release"
on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: npm run build
        working-directory: ./plugin

      - name: Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: Sync with Todoist Plugin - v${{ github.ref }}
          draft: true
          files: |
            plugin/dist/main.js
            plugin/dist/manifest.json
            plugin/dist/styles.css
